* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-color: black;
}

main {
  background-color: #fff;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: all 300ms;
}

section {
  width: calc(75% - 10px);
  transition: all 300ms;
}

aside {
  width: 25%;
  transition: all 300ms;
}

section article {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section article img {
  width: 41%;
  border-radius: 3px;
}

section article .text {
  width: calc(59% - 10px);
}

.text h2,
aside article h2 {
  font-size: 14px;
  line-height: 17px;
  color: #148a8a;
  text-transform: uppercase;
}

.text p {
  line-height: 18px;
  color: #777;
}

aside h1 {
  font-size: 16px;
  background-color: #8ac74e;
  border: 1px solid #77ae44;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-transform: uppercase;
  padding: 0 10px;
  color: white;
  /* Knoppen en labels met 1 zin */
  line-height: 36px;
  text-shadow: 1px 1px 1px #6e9f3e;
  margin-bottom: 10px;
}

aside article img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 10px;
}
aside article {
  margin-bottom: 26px;
}

@media screen and (max-width: 950px) {
  main {
    width: 94%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 610px) {
  main {
    width: 100%;
    margin: 0;
  }
  aside {
    display: none;
  }
  section {
    width: 100%;
  }
}

@media screen and (max-width: 444px) {
  main section article {
    display: block;
  }
  section article img,
  section article .text {
    width: 100%;
  }
}
